<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <div class="menu-container">
        <ul>
            <li><a href="{{ path('admin') }}">Admin Dashboard</a></li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="logout-container">
                <a href="{{ path('app_logout') }}" class="btn-logout">Déconnexion</a>
            </div>
        {% endif %}
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
