{% extends 'base.html.twig' %}

{% block title %}Résultat de l'envoi{% endblock %}

{% block body %}
<div class="container text-center">
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <a href="{{ path('admin_prospect_index') }}" class="btn btn-primary">OK</a>
</div>
{% endblock %}
